@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap");

.wholepage {
  background-color: #2b2b2b;
  color: var(--text, #fff);
  font-family: Work Sans;
  /*display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "divImage divImage"
    "divTexts divTimer"
    "divTexts divTimer"
    "divCards divCards";*/
}

.divImage {
  grid-area: divImage;
  width: 99vw;
}

.divImage img {
  width: 100%;
  height: 560px;
  object-fit: cover;
}

.divTexts {
  grid-area: divTexts;
  text-align: left;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  max-width: 600px;
  
}

.divTitle > h1 {
  font-size: 51px;
}

.divTexts > .divTitle > p > span {
  color: #858584;
  padding-top: 0px;
}

.divTimer {
  grid-area: divTimer;
  /* padding-left: 200px; */
  padding-top: 50px;
  max-width: 600px;
  
}

.divCreated {
  color: #858584;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.divCards {
  grid-area: divCards;
}

.createdBy {
  margin-bottom: 5px; /* Ajuste o valor conforme necessário */
  font-family: Space Mono;
}

.profile {
  display: flex;
  align-items: center;
  color: white;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.profile:hover {
  transform: scale(0.9);
}

.profile > .avatarImage {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 15px;
}

.divDescription {
  font-size: 20px;
}

.divDescription > h3 {
  color: #858584;
  font-family: Space Mono;
}

.divDetails {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  font-family: Space Mono;
}

.divTitleDetails {
  color: #858584;
}

.divDetailsText1,
.divDetailsText2 {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
}

.divDetailsText2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.globeImage {
  margin-right: 10px;
}

.divTitleTags {
  color: #858584;
  font-size: 22px;
}

.divTagsText {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.divTagsText h3 {
  background-color: #3b3b3b;
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 16px;
  text-transform: uppercase;
  transition: transform 0.6s ease;
}

.divTagsText h3:hover {
  transform: scale(0.9);
}

.nft_page_middle_part {
	display: flex;
	align-content: center;
	margin: 0 auto;
	max-width: 1050px;
	margin-bottom: 100px;
	justify-content: center;
}

.nft_page_middle_part > *{
  flex: 0 0 auto;
}

.divCards {
  display: flex;
  align-items: center;
  /* padding: 0px 400px; */
  background: var(--background, #2b2b2b);
  flex-direction: column;
  gap: 60px;
  align-self: stretch;
  margin-top: -80px;
}

.divContent {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 10px;
	width: 1050px;
	justify-content: space-between;
}

.divContent > h3 {
  font-size: 38px;
  margin-right: 200px;
}

.divButton {
  margin-left: 30px;
}

.buttonArtist {
  border: 2px solid var(--call-to-action, #a259ff);
  border-radius: 20px;
  background-color: transparent;
  color: #fff;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  display: flex;
  height: 60px;
  padding: 0px 50px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  white-space: nowrap;
}

.buttonArtist {
  transition: transform 0.4s ease;
}

.buttonArtist:hover {
  transform: scale(0.95);
}

.divNfts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 31px;
  padding-bottom: 50px;
}

.Nft_Card {
  width: 50%;
}


/* Tablet */
@media (max-width: 1300px) {
  .divImage {
    width: 100%;
  }

  .divImage img {
    height: 300px;
    object-fit: cover;
  }

  .divTimer {
    padding-bottom: 50px;
    padding-left: 0px;
    max-width: 1050px;
    
  }

  .divTexts {
    padding-left: 20px;
    max-width: 52%;
  }

  .divTitleTags > h3 {
    padding-bottom: 10px;
  }

  .divCards {
    padding: 0px 20px;
  }

  .divContent {
    align-items: flex-start;
    margin-left: 0 auto;
    margin-bottom: 20px;
    max-width: 1050px;
    max-width: 649px;
  }

  .divContent > h3 {
    margin-right: 0;
    font-size: 24px;
    align-self: center;
  }

  .divNfts {
    gap: 20px;
  }

  .Nft_Card {
    width: 100%;
  }

  .divTitle > h1{
    font-size:28px;
  }

  .divDescription > h3 {
    font-size: 18px;
  }

  .divDescription{
    font-size: 16px;
    max-width: 400px;
  }

  .divDetailsText1, .divDetailsText2 {
    cursor: pointer;
    font-size: 14px;
  }
}

/* Mobile */
@media (max-width: 800px) {


  .nft_page_middle_part{
    flex-direction: column-reverse;
    max-width: 88%;
  }

  .divImage {
    width: 100%;
  }

  .divImage img {
    height: 232px;
    object-fit: cover;
  }

  .divTimer {
    padding-bottom: 50px;
  }

  .divTexts {
    padding-left: 20px;
    max-width: 1050px;
    margin: 0 auto;
  }

  .divCards {
    padding: 0px 20px;
  }

  .divContent {
    align-items: center;
    margin-left: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  .divContent > h3 {
    margin-right: 0;
    margin-bottom: 10px;
    font-size: 24px;
  }

  .divNfts {
    gap: 20px;
  }

  .Nft_Card {
    width: 100%;
  }

  .divTagsText{
    flex-direction: column;
    max-width: 100px;
  }

  .buttonArtist{
    font-size:12px;
  }
}

