@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap");


.fundo {
  background: #3b3b3b;
  font-family: Space Mono;
  display: flex;
  padding: 20px 0px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  align-self: stretch;
  border-radius: 20px;
  width: 500px;
  
}

button {
  background-color: #a259ff;
  border-radius: 20px;
  outline: none;
  color: white;
  border: none;
  padding: 30px;
  width: 250px;
  font-size: 20px;
}
