@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.first-pg {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;
  gap: 40px;
  justify-content: center;
  background-color: #2b2b2b;
}

.first-pg-txt {
  color: white;
  width: 315px;
}

.title {
  font: 600 28px/140% "Work Sans";
}

#text {
  padding-top: 10px;
  font: 400 16px/140% "Work Sans";
}

.organizer {
  display: flex;
  flex-direction: column;
}

.gif-button {
  background:transparent;
}

.first-pg-gif {
  cursor: pointer;
  width: 315px;
  height: 100%;
}

.organizer-two {
  margin-left: 0rem;
}

.get-started {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 315px;
  height: 60px;
  background-color: #a259ff;
  border-radius: 20px;
	transition: all 0.3s ease;
}

.get-started:hover{
  transform: scale(0.90, 1);
  transform-origin: center;
}

.get-started-txt {
  font: 600 16px/140% "Work Sans";
  color: white;
}

#rocket {
  background: transparent;
  padding-right: 10px;
}

.info-pg {
  display: flex;
  gap: 50px;
}

.aditional-value {
  font: 700 22px/160% "Space Mono";
  color: white;
}

.aditional-info {
  font: 400 16px/140% "Work Sans";
  color: white;
}

/* tablet */
@media (min-width: 670px) {
  .first-pg {
    padding: 60px 0px;
    gap: 0;
  }

  .title {
    font: 600 38px/140% "Work Sans";
  }

  .first-pg-gif {
    width: 330px;
  }

  .organizer {
    flex-direction: row;
  }

  .organizer-two {
    margin-left: -27rem;
    margin-top: -5rem;
  }

  .get-started {
    width: 224px;
    margin-top: -8rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 1000px) {
  .get-started {
    margin-top: -4rem;
  }
}

/* pc */
@media (min-width: 1024px) {
  .first-pg-txt {
    width: 480px;
    padding-left: 5rem;
  }

  .title {
    font: 600 67px/110% "Work Sans";
  }

  #text {
    font: 400 22px/160% "Work Sans";
  }

  .first-pg-gif {
    width: 510px;
  }

  .organizer-two {
    margin: -10rem 0 0 -52rem;
  }

  .info-pg {
    margin-right: -15rem;
  }

  .aditional-value {
    width: 130px;
    font: 700 28px/140% "Space Mono";
    color: white;
  }
  
  .aditional-info {
    font: 400 24px/160% "Work Sans";
    color: white;
  }

  .get-started {
    margin-top: -12rem;
  }
}