@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap");

.wholepage {
  background-color: #2b2b2b;
  font-family: "Work Sans", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "image image"
    "div2 divTimer"
    ". .";
}

.image {
  grid-area: image;
}

.div2 {
  grid-area: div2;
}

.div2 > div > p > span {
  color: #858584;
}

.divTimer {
  grid-area: divTimer;
}
